@import "vars";
@import "libs";
@import "fonts";
@import "function";

.parallax {
  z-index: 10;
  position: relative;
  height: 400px;
  overflow: hidden;
}
//  <========default styles ========> //

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  @include lato();
}

.fixed {
  position: fixed; /*позицианируем чтобы исчез скролл*/
  width: 100%; /*что бы верстка не складывалась по ширине*/
}

html {
  font-size: 14px;
}

a {
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

//  <======== end default styles========> //
//  <======== header ========> //

.header {
  background-position: center center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 15px;
  height: 1000px;
}

.header__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 200px;
  transition: all .2s linear;
  a {
    color: #fff;
  }
}
.mobile__btn {
  width: 35px;
  height: 24px;
  background: none;
  border: none;
  outline: none;
  display: none;
  position: relative;
  span {
    background-color: #fff;
    display: block;
    width: 100%;
    position: absolute;
    height: 4px;
    &:nth-child(1) {
      top: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:nth-child(2) {
      top: 9px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:nth-child(3) {
      top: 18px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  &-active {
    span:nth-child(1) {
      top: 9px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      // top: 9px;
      opacity: 0;
    }
    span:nth-child(3) {
      top: 9px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.nav {
  ul li {
    font-weight: black;
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    margin-left: 64px;
    &:first-child {
      margin-left: 0px;
    }
  }
  a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  a:hover {
    color: #7d00fa;
  }
  &__social {
    ul li {
      margin-left: 12px;
      font-size: 24px;
      a {
        color: #fff;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.header__main {
  max-width: 365px;
  width: 100%;
}

.header__main__text {
  color: #fff;
  font-size: 28px;
  margin-bottom: 25px;
  &-under {
    margin-bottom: 66px;
  }
}

.title {
  font-size: 80px;
  line-height: 70px;
  margin-bottom: 18px;
  font-weight: black;
  text-transform: uppercase;
}

.title__text {
  color: #aa3a67;
  background: -webkit-gradient(linear, left top, right top, from(#aa3a67), to(#fb806b));
  background: linear-gradient(to right, #aa3a67, #fb806b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__btn {
  a {
    color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding: 15px 45px 15px 45px;
    border: 3px solid #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
  }
  a:hover {
    border-color: transparent;
    border-top: 3px solid #aa3a67;
    border-bottom: 3px solid #fb806b;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 3px 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),
      url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aa3a67), to(#fb806b)),
      -webkit-gradient(linear, left top, left bottom, from(#aa3a67), to(#fb806b));
    background-image: linear-gradient(to bottom, #aa3a67 0%, #fb806b 100%),
      linear-gradient(to bottom, #aa3a67 0%, #fb806b 100%);
  }
}

//  <======== header ========> //
//  <======== services ========> //

.services {
  padding: 60px 0;
}

.services__title {
  font-weight: black;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.services_posts {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.services__post {
  border-radius: 2px;
  margin: 20px 15px;
  width: 350px;
  text-align: center;
  color: #fff;
  padding: 30px 10px;
  border-radius: 5px;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  h5 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 195px;
  }
  p {
    padding: 0 20px;
  }
}
.price {
  margin-bottom: 35px;
  strong {
    font-size: 80px;
    line-height: 70px;
  }
  span {
    font-size: 30px;
    vertical-align: top;
  }
}

.post__btn {
  font-size: 24px;
  border: 4px solid #fff;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 22px 50px 21px 50px;
  font-weight: bold;
  margin-bottom: 28px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  &:hover {
    border-color: transparent;
    border-top: 4px solid #aa3a67;
    border-bottom: 4px solid #fb806b;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 4px 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),
      url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aa3a67), to(#fb806b)),
      -webkit-gradient(linear, left top, left bottom, from(#aa3a67), to(#fb806b));
    background-image: linear-gradient(to bottom, #aa3a67 0%, #fb806b 100%),
      linear-gradient(to bottom, #aa3a67 0%, #fb806b 100%);
  }
}
.author {
  font-size: 16px;
  margin-bottom: 28px;
}
.author__ico {
  color: #fff;
  margin-right: 9px;
}

.post__description {
  font-size: 12px;
}

.service__description {
  color: #fff;
  font-size: 22px;
  text-align: center;
}
//  <======== services ========> //
//  <======== trajectoria ========> //

.trajectoria {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 995px;
  color: #fff;
  padding-top: 160px;
  .container::after {
    content: "";
    display: block;
    clear: both;
  }
}

.trajectoria__inner {
  float: right;
  max-width: 540px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.trajectoria__title {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: black;
  margin-bottom: 65px;
}

.trajectoria__text {
  margin-bottom: 85px;
  font-size: 22px;
}

.proggress__trajectoria {
  max-width: 145px;
  width: 100%;
  height: 100%;
  height: inherit;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 5px;
}

.proggress__trajectoria-date {
  font-weight: 300;
  font-size: 32px;
}

.proggress__trajectoria-round {
  width: 24px;
  height: 24px;
  border: 5px solid #f97e6b;
  border-radius: 50%;
  background-color: transparent;
  margin-bottom: 8px;
}

.proggress__trajectoria-line-inner {
  width: 6px;
  height: 100%;
  background-color: #f97e6b;
  border-radius: 10px;
  margin: 0 auto;
}

.trajectoria__list {
  li {
    padding-bottom: 40px;
    font-size: 22px;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    &:last-child .proggress__trajectoria-line-inner {
      display: none;
    }
  }
}

.trajectoria__list-text {
  max-width: 350px;
  width: 100%;
}

//  <======== trajectoria ========> //
//  <======== galeria ========> //

.galeria {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 60px;
}

.galeria__title {
  margin-bottom: 55px;
}

.photos {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.photo {
  background: linear-gradient(45deg, #5328a1 10%, #95390c 80%);
  max-width: 370px;
  max-height: 370px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  img {
    display: block;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  &:hover {
    img {
      opacity: 0.1;
    }
  }
}
//  <======== galeria ========> //
//  <======== map ========> //

.map {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 980px;
  background-attachment: fixed;
  position: relative;
}
.description-show {
  display: none;
  opacity: 0;
  background-color: rgba(#fff, 0.8);
  border-radius: 3px;
  max-width: 980px;
  width: 100%;
  text-align: center;
  padding: 48px 70px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  h5 {
    font-size: 38px;
    font-weight: black;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .description__text {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .description__suptext {
    color: #424242;
    font-size: 18px;
    line-height: 36px;
  }
  &.active {
    display: block;
  }
}

.map-marker {
  color: #fff;
  position: absolute;
  font-size: 32px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  &:hover {
    color: #7200f5;
  }
}

.market__info {
  display: none;
}
//  <======== map ========> //
//  <======== footer ========> //

.footer {
  background: -webkit-gradient(linear, right top, left top, color-stop(28%, #742d1a), color-stop(80%, #562996));
  background: linear-gradient(to left, #742d1a 28%, #562996 80%);
  padding: 60px 0;
  color: #fff;
  .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}

.footer__description {
  text-transform: uppercase;
  h6 {
    font-size: 29px;
    font-weight: black;
    margin-bottom: 12px;
  }
}

.footer__description-text {
  font-size: 14px;
}

//  <======== footer ========> //

.up-arrow {
  position: fixed;
  background: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  color: #7800f8;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  bottom: 20px;
  right: -200px;
  border-radius: 50%;
  cursor: pointer;
  // animation-delay: 5s;
  -webkit-animation: bounce-bottom 2s infinite;
  animation: bounce-bottom 2s infinite;
  &:hover {
    background-color: #7800f8;
    color: #fff;
  }
  &.active {
    right: 20px;
    -webkit-animation: bounce-top 2s;
    animation: bounce-top 2s;
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  85% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  95%,
  99% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  85% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  95%,
  99% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.pulse {
  animation: pulse 6s infinite;
}

@import "media";
